# Assignment 2 - GroupBy

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/drinks.cvs``.

### Step 3. Assign it to a variable called drinks.

In [39]:
drinks =pd.read_csv('DATA/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks the most beer on average?

In [18]:
c=drinks.groupby(drinks["continent"])
c["beer_servings"].mean().sort_values().tail(1)

continent
EU    193.777778
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [24]:
c.get_group("EU")["wine_servings"].describe(include = "all")

count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64

In [26]:
c.get_group("AF")["wine_servings"].describe(include = "all")

count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64

In [29]:
c.get_group("OC")["wine_servings"].describe(include = "all")

count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64

In [28]:
c.get_group("AS")["wine_servings"].describe(include = "all")

count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64

In [27]:
c.get_group("SA")["wine_servings"].describe(include = "all")

count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [30]:
c.mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [31]:
c.median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [38]:
cmean = c["total_litres_of_pure_alcohol"].mean().to_frame()
cmin = c["total_litres_of_pure_alcohol"].min().to_frame()
cmax = c["total_litres_of_pure_alcohol"].max().to_frame()
print(cmean, cmin,cmax)

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333            total_litres_of_pure_alcohol
continent
AF                                  0.0
AS                                  0.0
EU                                  0.0
OC                                  0.0
SA                                  3.8            total_litres_of_pure_alcohol
continent
AF                                  9.1
AS                                 11.5
EU                                 14.4
OC                                 10.4
SA                                  8.3